body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
}
.maindiv {
  background-color: white;
  color: black;
  width: 500px; /* Setting to 500 as opposed to 300 (as per exercise) to fit all content */
  padding: 20px;
  border-radius: 25px;
  align: center; /* not working as expected */
  margin: auto /* using margin auto to center whole div instead of align */
}
/* added below code to center form and result as per formatting */
.subdiv {
  display: flex;
  justify-content: center;
}